<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active home-btn" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://politics.theonion.com/" target="_blank">THE ONION</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">WEB SCRAPER</h3>
  </div>

  <div class="jumbotron">
    <h1 class="jumboheader">The Onion Scraper</h1>
    <p class="lead">Scrape the Onion for the latest stories.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/scrape" role="button">SCRAPE THE LATEST</a>
    </p>
  </div>

  {{#each article}}
  <div class="card news-section">
    <a href="{{this.link}}">
      <h4 class="card-header">{{this.title}}</h4>
    </a>
    <div class="card-block">
      <br>
      <a href="/articles/{{this._id}}" class="btn btn-primary article-btn">Comment</a>
    </div>
  </div>
  <br>
  <br> {{/each}}

</div>